{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<img class=" img-fluid" src="{% static 'images/post0001.jpg' %}" width="100%" height="20%">
    <div class="container py-5">
       

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                
                <h2 class="text-center mb-4">Create a New Post</h2>
                
                <!-- Form -->
                <form method="POST" enctype="multipart/form-data" class="bg-custom p-4 rounded shadow-sm">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-custom w-100">Create a New Post</button>
                    <br></br>
                    <button type="reset" class="btn btn-custom w-100">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <style>
        .bg-custom {
            background-color: #a9c46c;
        }
        .btn-custom {
            background-color: #5d8736;
            color: white;
            border: none;
        }
        .btn-custom:hover {
            background-color: #4c6f2d;
        }
    </style>
{% endblock %}
